useDynLib("flowCore",.registration=TRUE)

importClassesFrom(Biobase,
                  AnnotatedDataFrame,
		  eSet,
		  phenoData)

importClassesFrom(methods,
                  ANY,
                  "NULL",
                  call,
                  character,
                  data.frame,
                  environment,
                  expression,
                  factor,
                  formula,
                  "function",
                  list,
                  logical,
                  matrix,
                  missing,
                  name,
                  numeric,
                  oldClass)


importMethodsFrom(Biobase,
                  description,
                  "description<-",
                  exprs,
                  "exprs<-",
                  featureNames,
                  pData,
                  "pData<-",
                  phenoData,
                  "phenoData<-",
                  sampleNames,
                  "sampleNames<-",
                  varLabels,
                  "varLabels<-",
                  varMetadata,
                  "varMetadata<-")

importMethodsFrom(graph,
                  addEdge,
                  addNode,
                  adj,
                  edgeData,
                  "edgeData<-",
                  "edgeDataDefaults<-",
                  nodes,
                  removeNode)

importMethodsFrom(methods,
                  cbind2,
                  coerce,
                  initialize,
                  rbind2,
                  show)

importFrom(Biobase,
           l2e,
           listLen,
           read.AnnotatedDataFrame)

importFrom(MASS,
           cov.rob)

importFrom(feature,
           featureSignif)

importFrom(grDevices,
           contourLines)

importFrom(graph,
           "edgeRenderInfo<-",
           "nodeRenderInfo<-",
           "nodes")

importFrom(graphics,
           hist,
           plot,
           text)

importFrom(methods,
           "@<-",
           as,
           callNextMethod,
           getSlots,
           is,
           new,
           selectMethod,
           signature,
           slot,
           "slot<-")

importFrom(rrcov,
           CovMcd)

importFrom(stats,
           kmeans,
           mad,
           median,
           qnorm,
           quantile,
           runif,
           sd,
           uniroot,
           var)

importFrom(utils,
           data,
           find,
           head,
           tail,
           write.table)


exportClasses("actionItem",
              "asinht",
              "boundaryFilter",
              "compensation",
              "compensateActionItem",
              "compensatedParameter",
              "compensateView",
              "complementFilter",
              "concreteFilter",
              "curv1Filter",
              "curv2Filter",
              "dg1polynomial",
              "EHtrans",
              "ellipsoidGate",
              "exponential",
              "expressionFilter",
              "fcActionReference",
              "fcAliasReference",
              "fcCompensateReference",
              "fcDataReference",
              "fcFilterReference",
              "fcFilterResultReference",
              "fcNormalizationReference",
              "fcNullReference",
              "fcReference",
              "fcStructureReference",
              "fcSubsettingReference",
              "fcTransformReference",
              "fcTreeReference",
              "fcViewReference",
              "filter",
              "filterList",
              "filterReference",
              "filterResult",
              "filterResultList",
              "filterSet",
              "filterSummary",
              "filterSummaryList",
              "flowFrame",
              "flowSet",
              "gateActionItem",
              "gateView",
              "hyperlog",
              "intersectFilter",
              "invsplitscale",
              "kmeansFilter",
              "logarithm",
              "logicalFilterResult",
              "manyFilterResult",
              "multipleFilterResult",
              "normalization",
              "normalizeActionItem",
              "normalizeView",
              "norm2Filter",
              "parameters",
              "parameterTransform",
              "parameterFilter",
              "polygonGate",
              "polytopeGate",
              "quadGate",
              "quadratic",
              "randomFilterResult",
              "ratio",
              "rectangleGate",         
              "sampleFilter",
              "setOperationFilter",
              "sinht",
              "splitscale",
              "squareroot",
              "subsetFilter",
              "subsettingActionItem",
              "subsetting",
              "timeFilter",
              "transform",
              "transformActionItem",
              "transformFilter",
              "transformMap",
              "transformList",
              "transformReference",
              "transformView",
              "unionFilter",
              "unitytransform",
              "view",
              "workFlow")

exportMethods("action",
              "actions",
              "add",
              "alias",
              "assign",
              "c",
              "cbind2",
              "coerce",
              "colnames",
              "colnames<-",
              "compensate",
              "Data",
              "description",
              "description<-",
              "dim",
              "each_row",
              "each_col",
              "exprs",
              "exprs<-",
              "featureNames",
              "filter",
              "filterDetails",
              "filterDetails<-",
              "filterReference",
              "fsApply",
              "gate",
              "get",
              "head",
              "identifier",
              "identifier<-",
              "initialize",
              "isNull",
              "journal",
              "keyword",
              "keyword<-",
              "length",
              "ls",
              "mget",
              "names",
              "ncol",
              "normalize",
              "nrow",
              "parameters",
              "parameters<-",
              "parent",
              "pData",
              "pData<-",
              "phenoData",
              "phenoData<-",
              "plot",
              "print",
              "range",
              "rbind2",
              "Rm",
              "sampleNames",
              "sampleNames<-",
              "show",
              "sort",
              "spillover",
              "split",
              "Subset",
              "summarizeFilter",
              "summary",
              "tail",
              "toTable",
              "transform",
              "tree",
              "varLabels",
              "varLabels<-",
              "varMetadata",
              "varMetadata<-",
              "%in%",
              "%on%",
              "%subset%",
              "<",
              "<=",
              "==",
              ">",
              ">=",
              "|",
              "!",
              "[",
              "[[",
              "[[<-",
              "$",
              "*",
              "&",
              "%&%")

S3method("$", "flowFrame")

export("action",
       "actions",
       "add",
       "alias",
       "arcsinhTransform",
       "asinht",
       "as.data.frame.manyFilterResult",
       "assign",
       "biexponentialTransform",
       "boundaryFilter",
       "char2ExpressionFilter",
       "cleanup",
       "colnames",
       "colnames<-",
       "compensate",
       "compensatedParameter",
       "compensateView",
       "compensateActionItem",
       "compensation",
       "curv1Filter",
       "curv2Filter",
       "Data",
       "dg1polynomial",
       "each_col",
       "each_row",
       "EHtrans",
       "ellipsoidGate",
       "eval",
       "exponential",
       "expressionFilter",
       "fcActionReference",
       "fcAliasReference",
       "fcCompensateReference",
       "fcDataReference",
       "fcFilterReference",
       "fcFilterResultReference",
       "fcNormalizationReference",
       "fcReference",
       "fcSubsettingReference",
       "fcTransformReference",
       "fcTreeReference",
       "fcViewReference",
       "filter",
       "filterDetails",
       "filterDetails<-",
       "filterList",
       "filterReference",
       "filterSet",
       "flowFrame",
       "flowSet",
       "fsApply",
       "gate",
       "gateActionItem",
       "gateView",
       "get",
       "head",
       "hyperlog",
       "identifier",
       "identifier<-",
       "invsplitscale",
       "isFCSfile",
       "isNull",
       "journal",
       "kmeansFilter",
       "keyword",
       "keyword<-",
       "linearTransform",
       "lnTransform",
       "logarithm",
       "logTransform",
       "logicleTransform",
       "ls",
       "manyFilterResult",
       "mget",
       "norm2Filter",
       "ncol",
       "normalization",
       "normalizeActionItem",
       "normalizeView",
       "nrow",
       "fcNullReference",
       "parameters",
       "parameters<-",
       "parent",
       "polygonGate",
       "polytopeGate",
       "print",
       "quadGate",
       "quadratic",
       "quadraticTransform",
       "ratio",
       "read.FCS",
       "read.FCSheader",
       "read.flowSet",
       "rectangleGate",
       "Rm",
       "sampleFilter",
       "scaleTransform",
       "sinht",
       "sort",
       "spillover",
       "split",
       "splitscale",
       "splitScaleTransform",
       "squareroot",
       "Subset",
       "subsettingActionItem",
       "subsetting",
       "summarizeFilter",
       "summary",
       "tail",
       "timeFilter",
       "toTable",
       "truncateTransform",
       "transformActionItem",
       "transformList",
       "transformReference",
       "transformView",
       "tree",
       "undo",
       "unitytransform",
       "view",
       "views",
       "workFlow",
       "%&%",
       "%in%",
       "%subset%",
       "%on%")
