useDynLib("flowCore",biexponential_transform, inPolygon)

importFrom(utils,
           "assignInNamespace",
           "getFromNamespace",
           "head",
           "tail")

importFrom(MASS,
           "cov.rob")

import("graph")

importFrom(Biobase,
           "description",
           "description<-",
           "exprs",
           "exprs<-",
           "featureNames",
           "featureNames<-",
           "multiassign",
           "pData",
           "pData<-",
           "phenoData",
           "phenoData<-",
           "read.AnnotatedDataFrame",
           "sampleNames",
           "sampleNames<-",
           "varLabels",
           "varLabels<-",
           "varMetadata",
           "varMetadata<-")

importFrom("graphics", "plot")

importMethodsFrom(Biobase,
                  "dim",
                  "length",
                  "initialize",
                  "show")

importClassesFrom(Biobase,
                  "AnnotatedDataFrame",
                  "eSet",
                  "phenoData")

exportClasses("actionItem",
              "compensation",
              "compensateActionItem",
              "compensateView",
              "complementFilter",
              "concreteFilter",
              "curv1Filter",
              "curv2Filter",
              "ellipsoidGate",
              "expressionFilter",
              "fcActionReference",
              "fcAliasReference",
              "fcCompensateReference",
              "fcDataReference",
              "fcFilterReference",
              "fcFilterResultReference",
              "fcNullReference",
              "fcReference",
              "fcStructureReference",
              "fcTransformReference",
              "fcTreeReference",
              "fcViewReference",
              "filter",
              "filterReference",
              "filterResult",
              "filterResultList",
              "filterSet",
              "filterSummary",
              "filterSummaryList",
              "flowFrame",
              "flowSet",
              "gateActionItem",
              "gateView",
              "intersectFilter",
              "kmeansFilter",
              "logicalFilterResult",
              "manyFilterResult",
              "multipleFilterResult",
              "norm2Filter",
              "parameterTransform",
              "parameterFilter",
              "polygonGate",
              "polytopeGate",
              "quadGate",
              "randomFilterResult",
              "rectangleGate",         
              "sampleFilter",
              "setOperationFilter",
              "subsetFilter",
              "timeFilter",
              "transform",
              "transformActionItem",
              "transformMap",
              "transformList",
              "transformFilter",
              "transformView",
              "unionFilter",
              "view",
              "workFlow")

exportMethods("action",
              "actions",
              "add",
              "alias",
              "assign",
              "c",
              "cbind2",
              "coerce",
              "colnames",
              "colnames<-",
              "compensate",
              "Data",
              "description",
              "description<-",
              "dim",
              "each_row",
              "each_col",
              "exprs",
              "exprs<-",
              "featureNames",
              "filter",
              "filterDetails",
              "filterDetails<-",
              "filterReference",
              "fsApply",
              "gate",
              "get",
              "head",
              "identifier",
              "identifier<-",
              "initialize",
              "isNull",
              "keyword",
              "keyword<-",
              "length",
              "ls",
              "mget",
              "names",
              "ncol",
              "nrow",
              "parameters",
              "parameters<-",
              "parent",
              "pData",
              "pData<-",
              "phenoData",
              "phenoData<-",
              "plot",
              "print",
              "range",
              "rbind2",
              "Rm",
              "sampleNames",
              "sampleNames<-",
              "show",
              "sort",
              "spillover",
              "split",
              "Subset",
              "summarizeFilter",
              "summary",
              "tail",
              "toTable",
              "transform",       
              "varLabels",
              "varLabels<-",
              "varMetadata",
              "varMetadata<-",
              "%in%",
              "%on%",
              "%subset%",
              "<",
              "<=",
              "==",
              ">",
              ">=",
              "|",
              "!",
              "[",
              "[[",
              "[[<-",
              "$",
              "*",
              "&",
              "%&%")

S3method("$", "flowFrame")

export("action",
       "actions",
       "add",
       "alias",
       "arcsinhTransform",
       "asinht",
       "as.data.frame.manyFilterResult",
       "assign",
       "biexponentialTransform",
       "char2ExpressionFilter",
       "colnames",
       "colnames<-",
       "compensate",
       "compensatedParameter",
       "compensateView",
       "compensateActionItem",
       "compensation",
       "curv1Filter",
       "curv2Filter",
       "Data",
       "dg1polynomial",
       "each_col",
       "each_row",
       "EHtrans",
       "ellipsoidGate",
       "eval",
       "exponential",
       "expressionFilter",
       "fcActionReference",
       "fcAliasReference",
       "fcCompensateReference",
       "fcDataReference",
       "fcFilterReference",
       "fcFilterResultReference",
       "fcReference",
       "fcTransformReference",
       "fcTreeReference",
       "fcViewReference",
       "filter",
       "filterDetails",
       "filterDetails<-",
       "filterReference",
       "filterSet",
       "flowFrame",
       "flowSet",
       "fsApply",
       "gate",
       "gateActionItem",
       "gateView",
       "get",
       "head",
       "hyperlog",
       "identifier",
       "identifier<-",
       "invsplitscale",
       "isNull",
       "kmeansFilter",
       "keyword",
       "keyword<-",
       "linearTransform",
       "lnTransform",
       "logarithm",
       "logTransform",
       "logicleTransform",
       "ls",
       "manyFilterResult",
       "mget",
       "norm2Filter",
       "ncol",
       "nrow",
       "fcNullReference",
       "parameters",
       "parameters<-",
       "parent",
       "polygonGate",
       "polytopeGate",
       "print",
       "quadGate",
       "quadratic",
       "quadraticTransform",
       "ratio",
       "read.FCS",
       "read.FCSheader",
       "read.flowSet",
       "rectangleGate",
       "Rm",
       "sampleFilter",
       "scaleTransform",
       "sinht",
       "sort",
       "spillover",
       "split",
       "splitscale",
       "splitScaleTransform",
       "squareroot",
       "Subset",
       "summarizeFilter",
       "summary",
       "tail",
       "timeFilter",
       "toTable",
       "truncateTransform",
       "transformActionItem",
       "transformList",
       "transformReference",
       "transformView",
       "unitytransform",
       "view",
       "views",
       "workFlow",
       "%&%",
       "%in%",
       "%subset%",
       "%on%")
